In [17]:
!pip install autocorrect

Collecting autocorrect
  Downloading autocorrect-2.6.1.tar.gz (622 kB)
Building wheels for collected packages: autocorrect
  Building wheel for autocorrect (setup.py): started
  Building wheel for autocorrect (setup.py): finished with status 'done'
  Created wheel for autocorrect: filename=autocorrect-2.6.1-py3-none-any.whl size=622380 sha256=7e075b296658f8adf5af1d8d6f71fc34a7e5676df2f0bfc1abd010893331ebe7
  Stored in directory: c:\users\mmdee\appdata\local\pip\cache\wheels\72\b8\3b\a90246d13090e85394a8a44b78c8abf577c0766f29d6543c75
Successfully built autocorrect
Installing collected packages: autocorrect
Successfully installed autocorrect-2.6.1

In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from autocorrect import Speller
spell = Speller()

In [6]:
dataset1 = pd.read_csv("C:/Users/mmdee/OneDrive/Desktop/Data Science/projects/nlptweets/train.csv")

In [6]:
dataset1

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [8]:
dataset1.shape

(7613, 5)

In [10]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [11]:
text = dataset1["text"]
text

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [13]:
import nltk
from nltk.corpus import stopwords
import re
import string
import nltk.data
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mmdee\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
string.punctuation #punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [1]:
def remove_punc(text):
    table.str.maketrans('','',string.punctuations)
    return

In [52]:
def remove_http(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

In [53]:
dataset1['text_nohttp'] = dataset1['text'].apply(lambda x : remove_http(x))

In [54]:
def remove_html(text):
    html = re.compile(r'<.*?>')
    return html.sub(r'',text)

In [63]:
dataset1['text_nohtml'] = dataset1['text_nohttp'].apply(lambda x : remove_html(x))

In [65]:
# Reference : https://gist.github.com/slowkow/7a7f61f495e3dbb7e3d767f97bd7304b
def rem_emoji(text):
    emoji = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji.sub(r'',text)

In [71]:
dataset1['text_noemoji'] = dataset1['text_nohtml'].apply(lambda x : rem_emoji(x))

{33: None,
 34: None,
 35: None,
 36: None,
 37: None,
 38: None,
 39: None,
 40: None,
 41: None,
 42: None,
 43: None,
 44: None,
 45: None,
 46: None,
 47: None,
 58: None,
 59: None,
 60: None,
 61: None,
 62: None,
 63: None,
 64: None,
 91: None,
 92: None,
 93: None,
 94: None,
 95: None,
 96: None,
 123: None,
 124: None,
 125: None,
 126: None}

In [74]:
#remove punctuation
def rem_punt(text):
    table=str.maketrans('','',string.punctuation)
    return text.translate(table)

In [76]:
#removing punctuations
dataset1["text"] = dataset1["text_noemoji"].apply(lambda x : rem_punt(x))

In [78]:
dataset1

,id,keyword,location,text,target,text_nohtml,text_token,text_nohttp,text_noemoji
0,1,NaN,NaN,Our Deeds are the Reason of this earthquake Ma...,1,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, earth...",Our Deeds are the Reason of this #earthquake M...,Our Deeds are the Reason of this #earthquake M...
1,4,NaN,NaN,Forest fire near La Ronge Sask Canada,1,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask, Canada]",Forest fire near La Ronge Sask. Canada,Forest fire near La Ronge Sask. Canada
2,5,NaN,NaN,All residents asked to shelter in place are be...,1,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, shelter, in, place...",All residents asked to 'shelter in place' are ...,All residents asked to 'shelter in place' are ...
3,6,NaN,NaN,13000 people receive wildfires evacuation orde...,1,"13,000 people receive #wildfires evacuation or...","[13, 000, people, receive, wildfires, evacuati...","13,000 people receive #wildfires evacuation or...","13,000 people receive #wildfires evacuation or..."
4,7,NaN,NaN,Just got sent this photo from Ruby Alaska as s...,1,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, Ala...",Just got sent this photo from Ruby #Alaska as ...,Just got sent this photo from Ruby #Alaska as ...
...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,Two giant cranes holding a bridge collapse int...,"[Two, giant, cranes, holding, a, bridge, colla...",Two giant cranes holding a bridge collapse int...,Two giant cranes holding a bridge collapse int...
7609,10870,NaN,NaN,ariaahrary TheTawniest The out of control wild...,1,@aria_ahrary @TheTawniest The out of control w...,"[, aria_ahrary, TheTawniest, The, out, of, con...",@aria_ahrary @TheTawniest The out of control w...,@aria_ahrary @TheTawniest The out of control w...
7610,10871,NaN,NaN,M194 0104 UTC5km S of Volcano Hawaii,1,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,"[M1, 94, 01, 04, UTC, 5km, S, of, Volcano, Haw...",M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.
7611,10872,NaN,NaN,Police investigating after an ebike collided w...,1,Police investigating after an e-bike collided ...,"[Police, investigating, after, an, e, bike, co...",Police investigating after an e-bike collided ...,Police investigating after an e-bike collided ...
7612,10873,NaN,NaN,The Latest More Homes Razed by Northern Califo...,1,The Latest: More Homes Razed by Northern Calif...,"[The, Latest, More, Homes, Razed, by, Northern...",The Latest: More Homes Razed by Northern Calif...,The Latest: More Homes Razed by Northern Calif...

In [98]:
# ref https://www.kaggle.com/code/shahules/basic-eda-cleaning-and-glove#Data-Cleaning

def correct_spell (text):
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else :
            corrected_text.append(word)
    return corrected_text

In [99]:
dataset1['text']=dataset1['text'].apply(lambda x : correct_spell(x))

In [80]:
!pip install pyspellchecker

Collecting pyspellchecker
  Downloading pyspellchecker-0.7.0-py3-none-any.whl (2.5 MB)
Installing collected packages: pyspellchecker
Successfully installed pyspellchecker-0.7.0

In [106]:
from spellchecker import SpellChecker

spell = SpellChecker()

In [110]:
from nltk.stem import WordNetLemmatizer
  
lemmatizer = WordNetLemmatizer()
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
  
ps = PorterStemmer()

In [112]:
spell.correction("Theres")
lemmatizer.lemmatize("rocks")
lemmatizer.lemmatize("Theres")
ps.stem("rocks")

'rock'

In [9]:
def tokenizer(text):
    tokens = re.split('\W+',text)
    return tokens

In [59]:
dataset1['text_token']  = dataset1['text_nohtml'].apply(lambda x : tokenizer(x) )

In [101]:
dataset1

,id,keyword,location,text,target,text_nohtml,text_token,text_nohttp,text_noemoji
0,1,NaN,NaN,"[Our, Deeds, are, the, Reason, of, this, earth...",1,Our Deeds are the Reason of this #earthquake M...,"[Our, Deeds, are, the, Reason, of, this, earth...",Our Deeds are the Reason of this #earthquake M...,Our Deeds are the Reason of this #earthquake M...
1,4,NaN,NaN,"[Forest, fire, near, La, Ronge, Sask, Canada]",1,Forest fire near La Ronge Sask. Canada,"[Forest, fire, near, La, Ronge, Sask, Canada]",Forest fire near La Ronge Sask. Canada,Forest fire near La Ronge Sask. Canada
2,5,NaN,NaN,"[All, residents, asked, to, shelter, in, place...",1,All residents asked to 'shelter in place' are ...,"[All, residents, asked, to, shelter, in, place...",All residents asked to 'shelter in place' are ...,All residents asked to 'shelter in place' are ...
3,6,NaN,NaN,"[13000, people, receive, wildfires, evacuation...",1,"13,000 people receive #wildfires evacuation or...","[13, 000, people, receive, wildfires, evacuati...","13,000 people receive #wildfires evacuation or...","13,000 people receive #wildfires evacuation or..."
4,7,NaN,NaN,"[Just, got, sent, this, photo, from, Ruby, Ala...",1,Just got sent this photo from Ruby #Alaska as ...,"[Just, got, sent, this, photo, from, Ruby, Ala...",Just got sent this photo from Ruby #Alaska as ...,Just got sent this photo from Ruby #Alaska as ...
...,...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,"[Two, giant, cranes, holding, a, bridge, colla...",1,Two giant cranes holding a bridge collapse int...,"[Two, giant, cranes, holding, a, bridge, colla...",Two giant cranes holding a bridge collapse int...,Two giant cranes holding a bridge collapse int...
7609,10870,NaN,NaN,"[None, TheTawniest, The, out, of, control, wil...",1,@aria_ahrary @TheTawniest The out of control w...,"[, aria_ahrary, TheTawniest, The, out, of, con...",@aria_ahrary @TheTawniest The out of control w...,@aria_ahrary @TheTawniest The out of control w...
7610,10871,NaN,NaN,"[M194, 0104, UTC5km, S, of, Volcano, Hawaii]",1,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,"[M1, 94, 01, 04, UTC, 5km, S, of, Volcano, Haw...",M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.
7611,10872,NaN,NaN,"[Police, investigating, after, an, bike, colli...",1,Police investigating after an e-bike collided ...,"[Police, investigating, after, an, e, bike, co...",Police investigating after an e-bike collided ...,Police investigating after an e-bike collided ...
7612,10873,NaN,NaN,"[The, Latest, More, Homes, Razed, by, Northern...",1,The Latest: More Homes Razed by Northern Calif...,"[The, Latest, More, Homes, Razed, by, Northern...",The Latest: More Homes Razed by Northern Calif...,The Latest: More Homes Razed by Northern Calif...

In [104]:
dataset1.to_excel("abc.xlsx")

In [23]:
y = dataset1[7609:7610]["text_token"]

In [30]:
y = []

y = dataset1[7609:7610]["text_token"]

In [34]:
y.to_list()

[['',
  'aria_ahrary',
  'TheTawniest',
  'The',
  'out',
  'of',
  'control',
  'wild',
  'fires',
  'in',
  'California',
  'even',
  'in',
  'the',
  'Northern',
  'part',
  'of',
  'the',
  'state',
  'Very',
  'troubling',
  '']]

In [61]:
z = dataset1[33:34]["text_token"].to_list()

In [62]:
z

[['',
  'AFRICANBAZE',
  'Breaking',
  'news',
  'Nigeria',
  'flag',
  'set',
  'ablaze',
  'in',
  'Aba',
  '']]